{% extends 'base.html' %}

{% block page_breadcrumb_1 %}课程{% endblock %}
{% block page_breadcrumb_2 %}学生名单{% endblock %}

{% block page_title_1 %}学生名单{% endblock %}
{% block page_title_2 %}Roster Table{% endblock %}

{% block page_content %}
<div class="row">
  <div class="col-md-12">
    <div class="portlet light portlet-fit bordered">
      <div class="portlet-title">
        <div class="caption">
          <i class="icon-settings font-blue-sharp"></i>
          <span class="caption-subject font-blue-sharp sbold uppercase">Roster Table</span>
        </div>
      </div>
      <div class="portlet-body">
        <div class="flip-scroll">
          {% if students %}
          <table class="table table-hover table-striped flip-content">
            <thead class="flip-content">
              <tr>
                <th class="text-center"> # </th>
                <th class="text-center"> 学 号 </th>
                <th class="text-center"> 姓 名 </th>
                <th class="text-center"> 操 作 </th>
              </tr>
            </thead>
            <tbody>
              {% for student in students %}
              <tr>
                <td class="text-center"> {{ loop.index }} </td>
                <td class="text-center"> {{ student.userName }} </td>
                <td class="text-center">{{ student.chineseName }}</td>
                <td class="text-center">
                  <div class="btn-group btn-group-xs btn-group-solid">
                  <button data-courseId="{{ course.id }}" data-studentId="{{ student.id }}" class="resetPassword btn btn-outline blue" type="button">重置密码</button>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <div class="text-center padding-tb-20">
            <h4>暂无学生</h4>
          </div>
          {% endif %}
        </div>
        {% if pagination.page_num > 1 %}
        <div class="text-center">
          <ul class="pagination">
             {% if pagination.has_previous %}
            <li>
              <a href="{{ url_for('.roster', courseId=course.id, currentPage=pagination.previous) }}">
                <i class="fa fa-angle-left"></i>
              </a>
            </li>
            {% else %}
            <li>
              <a href="javascript:;" class="disabled-link">
                <i class="fa fa-angle-left"></i>
              </a>
            </li>
            {% endif %}
            <li>
              <a href="{{ url_for('.roster', courseId=course.id, currentPage=1) }}"> 首页 </a>
            </li>

            {% for page in pagination.pages %}
            <li>
              {% if page == pagination.current %}
              <a class="disabled-link font-grey-salsa" href="javascript:;"> {{ page }} </a>
              {% else %}
              <a href="{{ url_for('.roster', courseId=course.id, currentPage=page) }}"> {{ page }} </a>
              {% endif %}
            </li>
            {% endfor %}

            <li>
              <a href="{{ url_for('.roster', courseId=course.id, currentPage=pagination.page_num) }}"> 末页 </a>
            </li>
             {% if pagination.has_next %}
            <li>
              <a href="{{ url_for('.roster', courseId=course.id, currentPage=pagination.next) }}">
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
            {% else %}
            <li>
              <a href="javascript:;" class="disabled-link">
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block page_external_script %}
<script src="{{ url_for('static', filename='global/plugins/string-format/string-format.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='user/script/resetPassword.js') }}" type="text/javascript"></script>
{% endblock %}

{% block page_internal_script %}
<script type="text/javascript">
jQuery(document).ready(function() {
    resetPassword.setActionUrl('/user/resetPassword/student/');
    resetPassword.init();
});
</script>
{% endblock %}

