{% extends 'base.html' %}

{% block page_breadcrumb_1 %}课程{% endblock %}
{% block page_breadcrumb_2 %}课程列表{% endblock %}

{% block page_title_1 %}课程列表{% endblock %}
{% block page_title_2 %}Courses Table{% endblock %}

{% block page_content %}
<div class="row">
  <div class="col-md-12">
    <div class="portlet light portlet-fit bordered">
      <div class="portlet-title">
        <div class="caption">
          <i class="icon-settings font-blue-sharp"></i>
          <span class="caption-subject font-blue-sharp sbold uppercase">Courses Table</span>
        </div>
      </div>
      <div class="portlet-body">
        <div class="flip-scroll">
          {% if courses %}
          <table class="table table-hover table-striped flip-content">
            <thead class="flip-content">
              <tr>
                <th class="text-center"> # </th>
                <th> 名 称 </th>
                <th class="text-center"> 教 师 </th>
                <th> 班 级 </th>
                <th class="text-center"> 学 期 </th>
                <th class="text-center"> 教研室 </th>
                <th class="text-center"> 培养方案 </th>
                <th class="text-center"> 操 作 </th></tr>
            </thead>
            <tbody>
              {% for course in courses %}
              <tr>
                <td class="text-center"> {{ loop.index }} </td>
                <td> {{ course.name }} </td>
                <td class="text-center"> {{ course.teacher.chineseName }} </td>
                <td> {{ course.klass }} </td>
                <td class="text-center"> {{ course.semester }} </td>
                <td class="text-center"> {{ course.getDepartmentName() }} </td>
                <td class="text-center"> {{ course.getSyllabusYearName() }} </td>
                <td class="text-center">
                  <div class="btn-group btn-group-xs btn-group-solid">
                  <a href="#" class="btn btn-outline blue">名单</a>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <div class="text-center padding-tb-20">
            <h4>暂无数据</h4>
          </div>
          {% endif %}
        </div>
        {% if pagination.page_num > 1 %}
        <div>
          <ul class="pagination">
             {% if pagination.has_previous %}
            <li>
              <a href="{{ url_for('.all', currentPage=pagination.previous) }}">
                <i class="fa fa-angle-left"></i>
              </a>
            </li>
            {% else %}
            <li>
              <a href="javascript:;" class="disabled-link">
                <i class="fa fa-angle-left"></i>
              </a>
            </li>
            {% endif %}
            <li>
              <a href="{{ url_for('.all', currentPage=1) }}"> 首页 </a>
            </li>

            {% for page in pagination.pages %}
            <li>
              {% if page == pagination.current %}
              <a class="disabled-link font-grey-salsa" href="javascript:;"> {{ page }} </a>
              {% else %}
              <a href="{{ url_for('.all', currentPage=page) }}"> {{ page }} </a>
              {% endif %}
            </li>
            {% endfor %}

            <li>
              <a href="{{ url_for('.all', currentPage=pagination.page_num) }}"> 末页 </a>
            </li>
             {% if pagination.has_next %}
            <li>
              <a href="{{ url_for('.all', currentPage=pagination.next) }}">
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
            {% else %}
            <li>
              <a href="javascript:;" class="disabled-link">
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

