{% extends 'base.html' %}

{% block page_breadcrumb_1 %}实习{% endblock %}
{% block page_breadcrumb_2 %}实习列表{% endblock %}

{% block page_title_1 %}实习列表{% endblock %}
{% block page_title_2 %}Practice Table{% endblock %}

{% block page_content %}
<input value="{{ currentPage }}" type="hidden" name="currentPage" id="currentPage">
<input value="{{ currentDepartment }}" type="hidden" name="currentDepartment" id="currentDepartment">
<div class="row">
  <div class="col-md-12">
    <div class="portlet light portlet-fit bordered">
      <div class="portlet-title">
        <div class="caption">
          <i class="icon-settings font-blue-sharp"></i>
          <span class="caption-subject font-blue-sharp sbold uppercase">Practices Table</span>
        </div>
      </div>
      <div class="portlet-body">
        <div class="table-scrollable">
          {% if practices %}
          <table id="table" class="table table-bordered table-hover table-striped">
            <thead class="">
              <tr class="heading">
                <th data-ptcolumn="index" class="text-center"> # </th>
                <th data-ptcolumn="name"> 名 称 </th>
                <th data-ptcolumn="teacher" class="text-center"> 教 师 </th>
                <th data-ptcolumn="klass"> 班 级 </th>
                <th data-ptcolumn="semester" class="text-center"> 学 期 </th>
                <th data-ptcolumn="syllabusYear" class="text-center"> 培养方案 </th>
                <th data-ptcolumn="operations" class="text-center"> 操 作 </th>
              </tr>
              <tr class="filter">
                <th class="text-center"> &nbsp; </th>
                <th> &nbsp; </th>
                <th class="text-center">
                  <select class="bs-select form-control form-filter input-sm" name="currentTeacher" id="currentTeacher">
                    <option value="0" {% if currentTeacher == 0 %}selected="selected"{% endif %}>全部</option>
                    {%- for teacher in teachers %}
                    <option value="{{ teacher.id }}" {% if currentTeacher == teacher.id %}selected{% endif %}>{{ teacher.chineseName }}</option>
                    {%- endfor %}
                  </select>
                </th>
                <th> &nbsp; </th>
                <th class="text-center">
                  <select class="bs-select form-control form-filter input-sm" name="currentSemester" id="currentSemester">
                    <option value="all" {% if currentSemester == 'all' %}selected="selected"{% endif %}>全部</option>
                    {%- for semester in semesters %}
                    <option value="{{ semester }}"  {% if currentSemester == semester %}selected{% endif %}>{{ semester }}</option>
                    {%- endfor %}
                  </select>
                </th>
                <th class="text-center">
                  <select class="bs-select form-control form-filter input-sm" name="currentSyllabusYear" id="currentSyllabusYear">
                    <option value="all" {% if currentSyllabusYear == 'all' %}selected="selected"{% endif %}>全部</option>
                    {%- for syllabusYear in cSyllabusYear.choices %}
                    <option value="{{ syllabusYear[0] }}"  {% if currentSyllabusYear == syllabusYear[0] %}selected{% endif %}>{{ syllabusYear[1] }}</option>
                    {%- endfor %}
                  </select>
                </th>
                <th class="text-center">
                  <button id="filter" class="btn btn-sm btn-success filter-submit margin-bottom">
                    <i class="fa fa-search"></i>  查 询
                  </button>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for practice in practices %}
              <tr>
                <td class="text-center"> {{ loop.index }} </td>
                <td> {{ practice.name }} </td>
                <td class="text-center"> {{ practice.teacher.chineseName }} </td>
                <td> {{ practice.klass }} </td>
                <td class="text-center"> {{ practice.semester }} </td>
                <td class="text-center"> {{ practice.getSyllabusYearName() }} </td>
                <td class="text-center">
                  <div class="btn-group btn-group-xs btn-group-solid">
                    <a href="{{ url_for('.archivePractice', practiceId=practice.id) }}" class="btn btn-outline blue">下载</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="7">
                  <table class="table subtable">
                    <thead>
                      <tr class="heading">
                        {% for category in cPracticeMaterials.labels %}
                        <th class="text-center">
                          {{ cPracticeMaterials.getMaterialName(category)[2:] }}
                        </th>
                        {% endfor %}
                     </tr>
                    </thead>
                    <tbody>
                      <tr class="heading">
                        {% for category in cPracticeMaterials.labels %}
                        <td class="text-center">
                          {%- if practice[category] -%}
                          <a href="{{ url_for('.downloadMaterials', category=category, practiceId=practice.id) }}" class="font-blue">&nbsp;<i class="fa fa-cloud-download"></i></a>
                          {%- else -%}
                          &nbsp;<i class="hide font-red fa fa-exclamation-circle"></i>
                          {%- endif -%}
                        </td>
                        {% endfor %}
                     </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <div class="text-center padding-tb-20">
            <h4>暂无数据</h4>
          </div>
          {% endif %}
        </div>
        {% if pagination.page_num > 1 %}
        <div class="text-center">
          <ul class="pagination">
             {% if pagination.has_previous %}
            <li>
              <a href="{{ url_for('.tasks', currentPage=pagination.previous, currentTeacher=currentTeacher, currentDepartment=currentDepartment, currentSemester=currentSemester, currentSyllabusYear=currentSyllabusYear) }}">
                <i class="fa fa-angle-left"></i>
              </a>
            </li>
            {% else %}
            <li>
              <a href="javascript:;" class="disabled-link">
                <i class="fa fa-angle-left"></i>
              </a>
            </li>
            {% endif %}
            <li>
              <a href="{{ url_for('.tasks', currentPage=1, currentTeacher=currentTeacher, currentDepartment=currentDepartment, currentSemester=currentSemester, currentSyllabusYear=currentSyllabusYear) }}"> 首页 </a>
            </li>

            {% for page in pagination.pages %}
            <li>
              {% if page == pagination.current %}
              <a class="disabled-link font-grey-salsa" href="javascript:;"> {{ page }} </a>
              {% else %}
              <a href="{{ url_for('.tasks', currentPage=page, currentTeacher=currentTeacher, currentDepartment=currentDepartment, currentSemester=currentSemester, currentSyllabusYear=currentSyllabusYear) }}"> {{ page }} </a>
              {% endif %}
            </li>
            {% endfor %}

            <li>
              <a href="{{ url_for('.tasks', currentPage=pagination.page_num, currentTeacher=currentTeacher, currentDepartment=currentDepartment, currentSemester=currentSemester, currentSyllabusYear=currentSyllabusYear) }}"> 末页 </a>
            </li>
             {% if pagination.has_next %}
            <li>
              <a href="{{ url_for('.tasks', currentPage=pagination.next, currentTeacher=currentTeacher, currentDepartment=currentDepartment, currentSemester=currentSemester, currentSyllabusYear=currentSyllabusYear) }}">
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
            {% else %}
            <li>
              <a href="javascript:;" class="disabled-link">
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block page_external_script %}
<script src="{{ url_for('static', filename='global/plugins/jquery-powertable/jquery-powertable.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='practice/script/filterConditions.js') }}" type="text/javascript"></script>
{% endblock %}

{% block page_internal_script %}
<script type="text/javascript">
  jQuery(document).ready(function() {

    /*
    var pt = $('#table').powertable({
      allowMoving: false,
      showHideHandleText: '<i class="fa fa-gg"></i>',
      fixedColumns: ['name'],
      fixedRows: [0],
      showHideDisabled: ['name']
    });
    */

    filterConditions.setActionUrl('{{ url_for('.tasks') }}');
    filterConditions.init();

  });
</script>
{% endblock %}